.basket {
  .products-table-row {
    border-bottom: 1px solid #EEEEEE;
    padding: 30px 0;
    &:hover {
      .photo img {
        border: 2px solid #CFCACA;
      }
    }
  }
}

.products-table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  .photo {
    img {
      max-width: 100px;
      max-height: 100px;
      border: 2px solid #F6F6F6;
      transition: .3s ease-in;
    }
  }

  .name {
    a:hover {
      color: initial;
    }
  }

  .price {
    color: #BDBDBD;
  }

  .count {
    span {
      cursor: pointer;
    }

    .minus, .plus {
      width: 20px;
      height: 20px;
      color: #BDBDBD;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }

    input {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      width: 20px;
      border: none;
      text-align: center;
    }
  }

  .action {
    img {
      padding: 15px;
      cursor: pointer;
    }
  }
}

.basket-btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 248px;

  .actions {
    display: flex;

    .gradient-btn {
      width: 247px;
      margin-right: 39px;

      &:before {
        width: 251px;
      }
    }
  }

  .common-amount {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    &-val {
      margin-left: 25px;
      font-size: 24px;
      line-height: 29px;
      text-transform: lowercase ;
    }
  }
}

.black-btn {
  height: 40px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0084;
  background: -moz-linear-gradient(left, #ff0084 0%, #ff0084 14%, #cd5493 28%, #ac71b0 42%, #757bbb 56%, #757bbb 70%, #222222 84%, #222222 100%);
  background: -webkit-linear-gradient(left, #ff0084 0%, #ff0084 14%, #cd5493 28%, #ac71b0 42%, #757bbb 56%, #757bbb 70%, #222222 84%, #222222 100%);
  background: linear-gradient(to right, #ff0084 0%, #ff0084 14%, #cd5493 28%, #ac71b0 42%, #757bbb 56%, #757bbb 70%, #222222 84%, #222222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0084', endColorstr='#222222', GradientType=1);
  background-size: 800% 100%;
  background-position-x: 100%;

  a {
    border-radius: 20px;
    padding: 0 26px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &:hover {
    background-position: 0;
    background-size: 140% 100%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

}