.products-table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

.products-table-row {
  border-bottom: 1px solid #EEEEEE;
  padding: 30px 0;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
  .photo {
    img {
      max-width: 100px;
      max-height: 100px;
      border: 2px solid #F6F6F6;
    }
  }
  .name {
    a:hover {
      color: initial;
    }
  }
  .price {
    color: #BDBDBD;
  }
  .count {
    span {
      cursor: pointer;
    }

    .minus, .plus {
      width: 20px;
      height: 20px;
      color: #BDBDBD;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }

    input {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      width: 20px;
      border: none;
      text-align: center;
    }
  }
  .action {
    img {
      padding: 15px;
      cursor: pointer;
    }
  }
}

.basket-btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 248px;
  .actions {
    display: flex;
  }
  .common-amount {
    display: flex;
    &-val {
      margin-left: 10px;
    }
  }
}
