@import "vars";

@media (max-width: 1199.98px) {
  .home-banner .banner-name {
    font-size: 36px;
    line-height: 44px;
    max-width: 550px;
  }

  header .header-search input {
    margin-right: 20px;
    width: 200px;
  }

  .home .products-grid-item .prod-cat {
    font-size: 30px;
    line-height: 37px;
  }

}

@media (max-width: 1024px) {
  .footer-search form {
    max-width: 100%;
    input {
      width: 100%;
    }
  }
}

@media (max-width: 991.98px) {
  header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .reset-form-btn {
     margin: 20px;
  }
  .home .tab-pane-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .home .home-brands {
    .slide-title {
      font-size: 52px;
      line-height: 63px;
    }

    .home-brands-slide {
      height: 158px;
    }
  }

  .home .home-products-grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 23px;
    justify-content: center;
  }

  header .hc-nav-trigger {
    position: static;
  }

  header .header-contacts-wrap {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
    background: rgba(56, 56, 56, 0.95);
    color: #ffffff;
    display: none;
    padding: 26px 0;

    a {
      color: #ffffff;
      max-width: fit-content;
    }

    .header-contacts {
      max-height: 45px;
      columns: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      max-width: 720px;
      margin: 0 auto;
    }
  }
  header .header-search {
    position: absolute;
    left: 0;
    top: 100px;
    background: rgba(56, 56, 56, 0.95);
    z-index: 2;
    width: 100%;
    display: none;
    text-align: center;
    padding: 26px 0;

    input {
      border: 2px solid #ffffff;
      background: url(../media/search-icon-wh.svg) no-repeat 94% 50%;
      color: #ffffff;

      &::placeholder {
        color: #ffffff;
      }
    }
  }
  .catalog .filters-wrap {
    padding-right: 0;
    position: absolute;
    left: 15px;
    top: 46px;
    width: calc(50% - 53px);
    z-index: 1;
    background: #FFFFFF;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease;

    &.showed {
      transform: scaleY(1);
      background: #f6f6f6;
    }

    .filter-control {
      padding: 30px 20px;
    }
  }
  .catalog .catalog-settings {
    flex-wrap: wrap;

    .filters-btn,
    .sorting {
      flex-basis: calc(50% - 38px);
    }

    .sorting {
      height: 41px;
      background: #F6F6F6;
      margin-left: 3px;
      margin-right: 3px;
      margin-top: -30px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        .dropdown-toggle {
          color: #FFFFFF;
          background: $gradient;

          &:after {
            color: #FFFFFF;
          }
        }
      }

      .dropdown {
        min-width: 100%;

        &.show {
          .dropdown-toggle {
            color: #FFFFFF;
            background: $gradient;

            &:after {
              color: #FFFFFF;
            }
          }
        }
      }

      .dropdown-toggle {
        width: 100%;
        justify-content: center;
      }
    }

    .items-on-page {
      margin-top: -30px;
      margin-left: 3px;

      &:hover {
        .dropdown-toggle {
          color: #FFFFFF;
          background: $gradient;

          &:after {
            color: #FFFFFF;
          }
        }
      }
    }

    .pagination {
      flex-grow: 2;
      justify-content: center;
    }

    .select-header {
      display: none;
    }
  }
  .basket-btm {
    flex-direction: column-reverse;

    .common-amount {
      align-self: flex-end;
      margin-bottom: 30px;
    }
  }
  .checkout-wrap {
    position: relative;
  }
  .sidebar-basket {
    position: absolute;
    right: -200vw;
    transition: right .2s ease;

    &.show {
      right: 0;
      transition: right .2s ease;
    }
  }
  .product .prod-info-wrap {
    display: flex;
    flex-direction: column;
  }
  .product .prod-view {
    margin-bottom: 50px;
    .slick-slide {
      min-height: 821px;
    }

    .slick-arrow {
      width: 60px;
      height: 100px;
      background: #EEEEEE;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      z-index: 1;
      &.fa-chevron-right {
        right: 0;
      }
    }
  }
  .product .prod-bonuses {
    margin-top: 55px;
    grid-template-columns: 40px 1fr 40px 1fr;
    padding: 20px;
  }
  .product #prod-descr {
    padding-top: 70px;
  }
  .product #prodTabContent .tab-pane {
    padding-top: 50px;
  }
  body .product .new-review {
    padding-top: 73px;
  }

  .product .new-review h1 {
    margin-bottom: 56px;
  }

  .product .recommend h2 {
    margin: 78px 0 28px;
  }

  .product .recommend .prod-card .img-wrap {
    height: 240px;
  }
}

@media (max-width: 767.98px) {
  .catalog .more-items-wrap {
    flex-direction: column;
    margin-top: 57px;
    .more-items-btn {
      margin-bottom: 65px;
    }
  }
  .basket .products-table-row {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "photo name action" "photo price action" "photo count action" "photo amount action";

    .photo {
      grid-area: photo;
    }

    .name {
      grid-area: name;
      justify-content: flex-start;
    }

    .price {
      grid-area: price;
    }

    .count {
      grid-area: count;
    }

    .amount {
      grid-area: amount;
    }

    .action {
      grid-area: action;
    }

    .price, .count, .amount {
      padding-top: 15px;
      justify-content: flex-start;
    }

  }

  .catalog .catalog-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  body h1 {
    font-size: 24px;
    line-height: 29px;
  }

  .home .tab-pane-content,
  .catalog .catalog-grid {
    grid-template-columns: repeat(2, 1fr);

    .img-wrap {
      height: 240px;
    }
  }

  .home .home-banners .slick-arrow,
  .home .home-brands .slick-arrow {
    top: calc(50% - 35px);
    height: 70px;
    width: 40px;
    padding: 26px 0;
  }

  .home .products-grid-item .overlay {
    padding: 15px 10px;
  }

  .reviews {
    h1 {
      margin: 40px 0 30px;
    }
  }

  .reviews-head {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .product {
    .prod-view .slick-slide {
      min-height: 332px;
    }
    .prod-view {
      margin-bottom: 36px;
    }
    .prod-info h1 {
      margin: 0 0 10px;
    }
    .prod-info .presence {
      margin: 12px 0 29px;
    }
    .prod-actions {
      margin-top: 37px;
    }
    .prod-bonuses {
      margin-top: 44px;
      grid-template-columns: 40px 1fr;
    }
    #prod-descr {
      padding-top: 48px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      //margin: 64px -15px 52px;
      li {
        background: linear-gradient(0deg, #F6F6F6, #F6F6F6);
        margin-bottom: 3px;
        width: 100%;
        text-align: center;
      }
      .nav-link.active {
        background: -webkit-gradient(linear, left top, right top, from(#FF0084), color-stop(11.46%, #FF0084), color-stop(37.51%, #CD5493), color-stop(67.2%, #AC71B0), color-stop(90.11%, #757BBB), to(#6D7CBC));
        background: -webkit-linear-gradient(left, #FF0084 0%, #FF0084 11.46%, #CD5493 37.51%, #AC71B0 67.2%, #757BBB 90.11%, #6D7CBC 100%);
        background: -o-linear-gradient(left, #FF0084 0%, #FF0084 11.46%, #CD5493 37.51%, #AC71B0 67.2%, #757BBB 90.11%, #6D7CBC 100%);
        background: linear-gradient(90deg, #FF0084 0%, #FF0084 11.46%, #CD5493 37.51%, #AC71B0 67.2%, #757BBB 90.11%, #6D7CBC 100%);
        color: #ffffff;
      }
    }
  }
}


@media (max-width: 670px) {
  .home .home-products-grid {
    grid-template-columns: 280px;

    .overlay {
      padding: 30px;
    }
  }
}

@media (max-width: 575.98px) {

  body h2 {
    font-size: 24px;
    line-height: 29px;
  }
  .form-items-row {
    grid-template-columns: 1fr;

    label[for=reviewer-name],
    input[name="name"] {
      order: -1 !important;
    }
  }
  body .checkout {
    padding-bottom: 30px;
  }
  body .checkout .customer-name {
    flex-direction: column;

    .form-item {
      &:first-child {
        flex-grow: 1;
        margin-right: 0;
      }

      &:nth-child(2) {
        flex-grow: 1;
        margin-left: 0;
      }
    }
  }
  .basket .products-table-row {
    grid-template-columns: 0.75fr 1.75fr 0.5fr;
  }
  .basket .basket-btm {
    margin-top: 30px;
    margin-bottom: 50px;

    .actions {
      flex-direction: column-reverse;
      align-items: center;
    }

    .gradient-btn {
      margin: 20px 0 0 0 !important;
    }

    .common-amount-val {
      font-size: 22px;
      margin-left: 10px;
    }
  }
  body .catalog {
    padding-top: 5px;

    .catalog-settings {
      margin: 0 -15px;

      .filters-btn {
        margin: 0 0 5px 0;
        flex-basis: 100%;
      }

      .sorting {
        margin: 0 0 5px 0;
        flex-basis: 100%;

        .dropdown-menu {
          margin-left: 5px;
        }
      }
      .items-on-page {
        margin: 0;
        flex-basis: 100%;
        .dropdown {
          width: 100% !important;
          .dropdown-toggle {
            justify-content: center;
          }
        }
      }
      .pagination {
        margin-top: 43px;
      }
    }

    .filters-wrap {
      width: 100%;
      left: 0;
    }
  }

  .catalog .catalog-grid {
    grid-template-columns: 1fr;
  }

  body .home h2 {
    margin: 43px auto;
  }
  .home #home-products {
    flex-direction: column;
    align-items: center;
    margin: 64px -15px 52px;

    li {
      width: 100%;
      text-align: center;
      background: linear-gradient(0deg, #F6F6F6, #F6F6F6);
      margin-bottom: 3px;
    }

    .nav-link.active {
      background: linear-gradient(90deg, #FF0084 0%, #FF0084 11.46%, #CD5493 37.51%, #AC71B0 67.2%, #757BBB 90.11%, #6D7CBC 100%);
      color: #ffffff;
    }
  }

  .rating-wrap .rating-info {
    font-size: 10px;
    margin-left: 5px;
  }

  .home .tab-pane-content,
  .catalog .catalog-grid {
    grid-template-columns: 280px;
    justify-content: center;
    margin-top: 43px;

    .img-wrap {
      height: 330px;
    }
  }

  .home .home-brands .slide-title {
    font-size: 32px;
    line-height: 39px;
  }
  .home-banner .banner-name {
    font-size: 24px;
    line-height: 29px;
    max-width: calc(100% - 100px);
  }
  .product {
    .recommend {
      margin-bottom: 58px;
      .prod-card {
        padding: 0 8px 10px;
        .prod-name {
          max-width: none;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          word-wrap: break-word;
          max-height: 68px;
        }
      }
    }
    .new-review .send-review {
      margin: 36px auto 0;
    }
  }
}

@media (max-width: 400px) {
  .product {
    .prod-info .prod-review {
      flex-direction: column;
      align-items: flex-start;
      .show-reviews {
        margin: 15px 0;
      }
    }

    .prod-info .prod-id>span{
      display: block;
      &:first-child {
        margin: 0 0 15px 0;
      }
    }
    .prod-cont {
      min-width: 115px;
    }
    .prod-info .buy-btn {
      padding: 0 46px;
    }
  }

}

@media (max-width: 320px) {
}

@media (min-width: 1200px) {
  .header-contacts {
    column-gap: 82px;
  }
}

@media (min-width: 992px) {

  .hc-offcanvas-nav .nav-container {
    top: 100px;
  }

  .sorting,
  .items-on-page {
    .dropdown-menu {
      top: 20px !important;
    }
  }

  .btm-header {
    min-height: 50px;
    background-color: $dark-grey;
    position: relative;
  }

  #main-nav ul {
    margin: 0;
    list-style-type: none;
  }
  #main-nav {
    & > ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;

      & > li {
        padding-bottom: 6px;
        flex-grow: 1;
        padding-left: 20px;
        margin: 0 3px;

        &:first-child {
          padding-left: 0;
        }

        &:hover {
          .sub-menu {
            visibility: visible;
            opacity: 1;
            z-index: 1;
            transform: translateY(0%);
          }

          & > a:not(.with-label) {
            color: $pink;

            &:before {
              font-weight: normal;
              display: block;
            }
          }
        }

        & > a {
          display: inline-block;
          margin-top: 10px;
          position: relative;
          transition: .2s;

          &.with-label {
            background: $gradient;
            background-size: 600% 100%;
            padding: 1px 2px;
            height: 18px;

            &:hover {
              animation: Animation 5s ease infinite;
            }
          }

          &:not(.with-label):before {
            position: absolute;
            left: -15px;
            top: calc(50% - 7px);
            content: '+';
            font-size: 20px;
            color: $pink;
            display: none;
            transition: .2s;
          }


        }
      }
    }
  }
  .sub-menu {
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateY(-2em);
    transition: transform 0.5s ease-in 0s, visibility 0s linear 0.5s, color 0.2s 0.5s;
    width: 100%;
    background-color: rgba(56, 56, 56, 0.95);
    visibility: hidden;
    opacity: 0;
    padding: 26px 65px 44px;
    columns: 4;

    li {
      a {
        display: inline-block;
        margin: 6px 0;
        text-transform: initial !important;
        transition: .2s;

        &:hover {
          color: $pink !important;
          font-weight: 500;
        }
      }
    }
  }
  .sidebar-basket {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .show-basket-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .filter-control {
    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
  #prod-descr .nav-link {
    &:after {
      background: linear-gradient(90deg, #FF0084 0%, #FF0084 11.46%, #CD5493 37.51%, #AC71B0 67.2%, #757BBB 90.11%, #6D7CBC 100%);
      height: 2px;
      width: 32px;
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(50% - 16px);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover,
    &.active {
      color: initial;

      &:after {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }

    &.active {
      color: $dark-grey;
    }
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 90%;
  }
  #home-products .nav-link {
    &:after {
      background: linear-gradient(90deg, #FF0084 0%, #FF0084 11.46%, #CD5493 37.51%, #AC71B0 67.2%, #757BBB 90.11%, #6D7CBC 100%);
      height: 2px;
      width: 32px;
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(50% - 16px);
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover,
    &.active {
      color: initial;

      &:after {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }

    &.active {
      color: $dark-grey;
    }
  }
}

@keyframes Animation {
  0% {
    background-position: 10% 0%
  }
  50% {
    background-position: 91% 100%
  }
  100% {
    background-position: 10% 0%
  }
}