.reviews {
  .rating-wrap {
    margin: 141px 0 51px;
  }
}

.reviews-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-wrap {
  padding: 40px 0;
  border-bottom: 1px solid #EEEEEE;
  &:first-child {
    padding-top: 0;
  }
}

.reviewer-info {
  display: flex;
  justify-content: space-between;
}

.reviewer-data {
  display: flex;
  flex-direction: column;
  .name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 3px;
  }
  .date {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #BDBDBD;
    margin-bottom: 22px;
  }
}

.prev-review-text {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #555555;
}

.progress {
  width: 66px;
  background: url("../media/star-grey.svg"), transparent;
  background-repeat: repeat-x;
  height: 13px;
}
.progress-bar {
  width: 66px;
  background: url("../media/star-pink.svg"), transparent;
  background-repeat: repeat-x;
  height: 13px;
}

.new-review {
  label {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .form-items-row {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 19px;
    label {
      margin-bottom: 0;
    }
    input {
      border: 2px solid #EEEEEE;
      height: 49px;
      padding: 0 20px;
      font-size: 14px;
      color: #555555;
      &:focus {
        border: 2px solid #222222;
      }
    }
  }
  textarea {
    width: 100%;
    border: 2px solid #EEEEEE;
    padding: 20px;
    font-size: 14px;
    color: #555555;
    &:focus {
      border: 2px solid #222222;
      outline: none;
    }
  }

  .send-review {
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 30px;
    margin-top: 49px;
  }

  label[for=new-rate] {
    margin-right: 14px;
    margin-bottom: 0;
  }

  .rate-row {
    display: flex;
    align-items: center;
  }

  .rateit {
    margin-bottom: -4px;
  }
}