$montserrat:  'Montserrat', sans-serif;
$dark-grey: #222222;
$pink: #FF0084;
$gradient: linear-gradient(90deg, #FF0084 0%, #FF0084 11.46%, #CD5493 37.51%, #AC71B0 67.2%, #757BBB 90.11%, #6D7CBC 100%)
